body {
    font-family: Arial, Helvetica, sans-serif;
    background: #5d8aa8;
}

nav {
    width: 100%;
    overflow: auto;
}

ul {
    width: 100%;
    margin: 0 0 0 250px;
    list-style: none;
}

li {
    float: left;
}


li a {
width: 100px;
display: block;
padding: 20px 15px;
text-align: center;
}

/* Header/Logo Title */
.header {
    position: relative;
    padding: 10px 0 10px 0;
    text-align: left;
    background: white;
    color: black;
    font-size: 30px;

}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("map_car.jpg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 10px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
    list-style: none;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leecounty_logo img{
    width: 10%;
    float:left;
    margin-right: 20px;  
}

.leetran_logo img{
    position: absolute;
    width: 10%;
    float:left;
    margin-right: 20px;  
}

footer {
    margin-top: 45px;
    width: 100%;
    background-color: #333;
}

footer p {
    text-align: center;
    color: #fff;
}