

h2,
h3 {
    padding-left: 5%;
    color: #5d8aa8;
}

h1 {
    color: grey;
    padding-left: 5%;
}


.container {
    background-color: white;
    height: 120%;
}


#phone-table {
    background-color: white;
    opacity: 0.8;
    padding-bottom: 100px;
}

#financial-table {
    background-color: white;
    padding-top: 100px;
    margin: 2em 0 0 0;
}

photos.img {
    width: 20%;
}

/*These apply across all breakpoints because they are outside of a media query */
table.phone-compare thead th {
    background-color: #faebd7;
    /* opacity: 0.6; */

}

table.phone-compare thead th h4 {
    text-transform: uppercase;
    font-size: .7em;
    margin: 0;
    /* background-color: #fff; */
}

table.phone-compare thead th h3 {
    font-size: em;
    margin: 0 0 0 0;
    /* background-color: #fff; */
}

table.phone-compare th.label {
    text-transform: uppercase;
    font-size: 1.1em;
    opacity: 0.8;
    padding: 1.2em .8em;
    background-color: #faebd7;
}

table.phone-compare tbody tr.photos td {
    background-color: rgba(50, 50, 50, 0.5);
    padding: 0;
}


table.phone-compare tbody tr.contents td {
    background-color: rgba(50, 50, 50, 0.3);
}


table.phone-compare tbody tr.photos img {
    max-width: 100%;
    min-width: 60px;
}

/*  Use the target selector to style the column chooser button */
a[href="#phone-table-popup"] {
    margin-bottom: 1.2em;
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {

    .phone-compare th.ui-table-priority-1,
    .phone-compare td.ui-table-priority-1 {
        display: table-cell;
    }
}

/* Show priority 2 at 560px (35em x 16px) */
@media screen and (min-width: 35em) {

    .phone-compare th.ui-table-priority-2,
    .phone-compare td.ui-table-priority-2 {
        display: table-cell;
    }
}

/* Show priority 3 at 720px (45em x 16px) */
@media screen and (min-width: 45em) {

    .phone-compare th.ui-table-priority-3,
    .phone-compare td.ui-table-priority-3 {
        display: table-cell;
    }
}

/* Manually hidden */
.phone-compare th.ui-table-cell-hidden,
.phone-compare td.ui-table-cell-hidden {
    display: none;
}

/* Manually shown */
.phone-compare th.ui-table-cell-visible,
.phone-compare td.ui-table-cell-visible {
    display: table-cell;
}



.th-groups th {
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    border-right: 1px solid #fff;
}

.th-groups th.totals {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: none;
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {

    th.ui-table-priority-1,
    td.ui-table-priority-1 {
        display: table-cell;
    }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {

    th.ui-table-priority-2,
    td.ui-table-priority-2 {
        display: table-cell;
    }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {

    th.ui-table-priority-3,
    td.ui-table-priority-3 {
        display: table-cell;
    }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {

    th.ui-table-priority-4,
    td.ui-table-priority-4 {
        display: table-cell;
    }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {

    th.ui-table-priority-5,
    td.ui-table-priority-5 {
        display: table-cell;
    }
}

/* Show priority 6 at 1200 (75em x 16px) */
@media screen and (min-width: 75em) {

    th.ui-table-priority-6,
    td.ui-table-priority-6 {
        display: table-cell;
    }
}

/* Manually hidden */
th.ui-table-cell-hidden,
td.ui-table-cell-hidden {
    display: none;
}

/* Manually shown */
th.ui-table-cell-visible,
td.ui-table-cell-visible {
    display: table-cell;
}